.adding {
  background-color: #edeff6;
}

.adding__caption,
.adding .popup-caption {
  @include section-header;
}

.adding__advantage {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.adding__button {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #192144;
  border: none;
}
