.calendar {
  width: 100%;
  margin-bottom: 22px;
}

.calendar__month {
  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.calendar__month-toggle {
  border: none;
  font-size: 0;
  width: 9px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 70%;
}

.calendar__month-prev {
  background-image: url("../img/month-arrow-left.svg");
  background-position: left;
}

.calendar__month-next {
  background-image: url("../img/month-arrow-right.svg");
  background-position: right;
}

.calendar__month-name {
  font-size: 20px;
  line-height: 20px;
  color: $purple;
  font-weight: 700;
}

.calendar__second-letter {
  display: none;
}

.calendar__table {
  width: 100%;
}

.calendar__week {
  font-size: 14px;
  line-height: 18px;
}

.calendar__week-name {
  padding-bottom: 7px;
}

.calendar__weekend-letter {
  color: #ff5c23;
}

.calendar__day {
  width: 14.2857142857%;
  height: 31px;
  border: 1px solid #cbced9;
  text-align: center;
  vertical-align: middle;
  color: #c7c7c7;
}

.calendar__next-month {
  background-color: #edeff6;
  color: #000000;
}

.calendar__days-of-stay {
  background-color: $purple;
  color: $white;
}

.calendar__today {
  border: 2px solid #ff5c23;
}

.calendar__check-in,
.calendar__departure,
.calendar__new-month {
  display: none;
}

@media (min-width: $tablet) {
  .calendar {
    margin-bottom: 46px;
  }

  .calendar__month {
    min-height: 87px;
    padding: 0 18px;
    margin-bottom: 33px;
  }

  .calendar__month-toggle {
    background-size: 100%;
    width: 19px;
    height: 34px;
  }

  .calendar__month-name {
    font-size: 36px;
  }

  .calendar__week-name {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 2px;
  }

  .calendar__second-letter {
    display: inline;
  }

  .calendar__day {
    height: 69px;
    font-size: 20px;
    line-height: 18px;
  }
}

@media (min-width: $desktop) {
  .calendar {
    margin-bottom: 55px;
  }

  .calendar__month {
    padding: 0;
    margin-bottom: 11px;
  }

  .calendar__week-name {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 13px;
  }

  .calendar__day {
    height: 71px;
    text-align: left;
    vertical-align: top;
    line-height: 26px;
    padding: 9px 14px;
  }

  .calendar__check-in,
  .calendar__departure,
  .calendar__new-month {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}
