.contacts {
  background-color: #192144;
  color: $white;
  text-align: center;
}

.contacts__caption {
  @include section-header;
}

.contacts__description {
  @include section-description;
}

.contacts__login {
  color: $yellow;
  text-decoration: underline;
}

.contacts__submit {
  background-color: $yellow;
}

.contacts__contact {
  @include contact;
  color: $yellow;
}
