.header {
  display: flex;
  flex-direction: column;
}

.header--open {
  background-color: $white;
}

.header__logo {
  @include logo;
  background-image: url("../img/logo-mobile-blue@1x.png");
  display: block;
}

.header__panel {
  display: flex;
  justify-content: space-between;
  padding: 27px 25px;
  background-color: $white;
}

.header__button {
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__panel--closed {
  background-color: $main-purple;
}

.header__panel--closed .header__logo {
  background-image: url("../img/logo-mobile-white@1x.png");
}

.header__panel--closed .header__button {
  width: 25px;
  height: 19px;
  background-image: url("../img/menu.svg");
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 38px;
  background-color: $white;
}

.header__content--closed {
  @include visually-hidden;
}

.header__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7px;
}

.header__item {
  font-size: 30px;
  line-height: 36px;
  color: #192144;
  text-transform: uppercase;
  font-weight: 500;
}

.header__login {
  @include flex-center;
  position: relative;
  top: 200px;
  flex-direction: column;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
  width: 270px;
  min-height: 50px;
  border-radius: 25px;
  background-color: $yellow;
  margin: 0 auto;
}

.header__login--closed {
  display: none;
}

.header__contacts {
  margin-top: 151px;
  align-self: flex-start;
}

.header__contact {
  @include contact;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    background-color: #121936;
    background-repeat: no-repeat;
    background-size: 40%;
    border-radius: 50%;
    margin-right: 17px;
  }
}

.header__contact--phone::before {
  background-image: url("../img/contacts-phone.svg");
  background-position: 53% 48%;
}

.header__contact--mail::before {
  background-image: url("../img/contacts-mail.svg");
  background-position: 53% 50%;
}

.header__social {
  @include social;
  margin-top: 41px;
}

.header__social-link {
  @include social__link;
  margin-right: 24px;
  width: 20px;
  height: 20px;
}

.header__social-link--facebook {
  @include social__link--facebook;
}

.header__social-link--vk {
  @include social__link--vk;
  width: 23px;
  height: 23px;
}

.header__social-link--instagram {
  @include social__link--instagram;
  width: 18px;
  height: 18px;
}

.header__visually-hidden {
  @include visually-hidden;
}

@media (min-width: 768px) {
  .header {
    position: relative;
  }

  .header__logo {
    background-image: url("../img/logo-tablet-blue@1x.png");
    width: 165px;
    height: 42px;
    margin-top: 18px;
    margin-left: 15px;
  }

  .header__panel--closed .header__logo {
    background-image: url("../img/logo-tablet-white@1x.png");
  }

  .header__panel {
    display: block;
  }

  .header__button {
    position: relative;
    left: 48.3%;
    bottom: 32px;
  }

  .header__login--closed,
  .header__login {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    width: 188px;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .header__content {
    padding: 0 25px 91px;
  }

  .header__items {
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 49px;
    margin-left: 72px;
  }

  .header__item {
    font-size: 60px;
    line-height: 71px;
  }

  .header__contacts {
    margin-top: 133px;
  }

  .header__contact {
    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 68px;
      height: 68px;
      margin-left: 72px;
      margin-right: 23px;
      position: relative;
      bottom: 5px;
    }
  }

  .header__social {
    align-self: flex-start;
    margin-top: 126px;
    margin-left: 92px;
  }

  .header__social-link {
    width: 28px;
    height: 28px;
    margin-right: 32px;
  }

  .header__social-link--instagram {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .header__logo {
    background-image: url("../img/logo-desktop-white@1x.png");
    width: 199px;
    height: 52px;
    margin-left: 35px;
    margin-top: 20px;
  }

  .header__button {
    display: none;
  }

  .header__panel--closed .header__logo {
    background-image: url("../img/logo-desktop-white@1x.png");
  }

  .header__panel {
    background-color: #161c34;
    padding-bottom: 0;
  }

  .header__content--closed,
  .header__content {
    flex-direction: row;
    background-color: #161c34;
    clip: auto;
    width: auto;
    min-height: auto;
    margin: 0;
    margin-left: 260px;
  }

  .header__items {
    flex-direction: row;
    margin-top: 62px;
    margin-left: 120px;

    &::before {
      content: "";
      width: 60px;
      height: 2px;
      background-color: $white;
      display: block;
      position: absolute;
      left: 40px;
      top: 74px;
    }
  }

  .header__item {
    font-size: 20px;
    line-height: 30px;
    color: $white;
    margin-right: 38px;
  }

  .header__social {
    display: none;
  }

  .header__contacts {
    display: flex;
    position: relative;
    left: 263px;
    bottom: 88px;
    margin-top: 142px;
  }

  .header__contact {
    font-size: 0;

    &::before {
      width: 50px;
      height: 50px;
      margin: 0;
    }
  }

  .header__contact--phone::before {
    background-image: url("../img/topmenu-phone.svg");
    background-color: #ff8d30;
  }

  .header__contact--mail::before {
    background-image: url("../img/topmenu-mail.svg");
    background-color: #ffbd30;
  }

  .header__login {
    z-index: 2;
    top: 49px;
    right: 61px;
  }
}
