.header {
  background-color: #161c36;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  min-height: 400px; //temporally
  background-position: bottom;
  background-repeat: no-repeat;
}

.header__contact-item {
  font-size: 17px;
  line-height: 30px;
  color: #161c35;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffd74b;
}

.header__caption {
  @include header-caption;
  position: relative;
  z-index: 1;
}
