.map {
  background-color: $yellow;
}

.map__address {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: $purple;
}

.map__to {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $purple;
  border: 3px solid $purple;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.map__visually-hidden {
  @include visually-hidden;
}
