.travelers {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  position: relative;
  padding: 0 25px;

  &::after {
    content: "";
    width: 100%;
    height: 30px;
    background-color: inherit;
    border-radius: 0 0 30px 30px;
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 1;
    display: block;
  }
}

.travelers__container {
  padding: 42px 0 72px;
  color: $white;
}

.travelers__caption {
  @include section-header;
  margin-bottom: 19px;
  padding: 0 24px;
}

.travelers__description {
  @include section-description;
  margin-bottom: 21px;
  padding: 0 24px;
}

.travelers__description--bold {
  @include section-description--bold;
  margin-bottom: 56px;
  padding: 0 24px;
}

.travelers__persons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travelers__person {
  background: $white;
  width: 100%;
  border-radius: 10px;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 10px;
}

.travelers__photo {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.travelers__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $purple;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 15px;
}

.travelers__hashtag {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-align: center;
  width: 90%;
  margin: 0 auto 16px;
}

.travelers__transport {
  display: flex;
  justify-content: center;
}

.travelers__item {
  width: 25px;
  height: 25px;
  font-size: 0;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.travelers__item--plane {
  background-image: url("../img/plane.svg");
}

.travelers__item--bus {
  background-image: url("../img/bus.svg");
}

.travelers__item--bike {
  background-image: url("../img/bike.svg");
}

.travelers__item--foot {
  background-image: url("../img/run.svg");
  margin-right: 0;
}

.travelers__link {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $purple;
  background-color: $yellow;
  width: calc(100% - 50px);
  border-radius: 10px;
  padding: 23px 23px 21px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent $purple;
    margin-left: 44%;
  }
}

@media (min-width: $tablet) {
  .travelers {
    padding: 0 75px;

    &::after {
      border-radius: 0 0 60px 60px;
      height: 60px;
      bottom: -60px;
    }
  }

  .travelers__container {
    padding-top: 82px;
    padding-bottom: 179px;
  }

  .travelers__caption {
    @include section-header--tablet;
    padding: 0;
    margin-bottom: 57px;
  }

  .travelers__description {
    @include section-description--tablet;
    padding: 0;
    margin-right: 133px;
    margin-bottom: 39px;
  }

  .travelers__description--bold {
    @include section-description--bold--desktop;
    padding: 0;
    margin-right: 163px;
    margin-bottom: 58px;
  }

  .travelers__persons {
    flex-direction: row;
    justify-content: center;
  }

  .travelers__person {
    width: 46.1165048544%;
    border-radius: 20px;
    padding-bottom: 26px;
  }

  .travelers__person--firsova {
    margin-right: 48px;
  }

  .travelers__photo {
    border-radius: 20px 20px 0 0;
    margin-bottom: 5px;
  }

  .travelers__name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 21px;
  }

  .travelers__hashtag {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
  }

  .travelers__link {
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    bottom: 28px;
    padding: 32px 33px 25px;
    width: calc(100% - 150px);

    &::after {
      margin-left: 70%;
    }
  }
}

@media (min-width: $desktop) {

  .travelers {
    position: relative;
    padding: 0 60px;
  }

  .travelers__container {
    display: flex;
    padding-top: 69px;
    padding-bottom: 64px;
  }

  .travelers__infoblock {
    width: 52.2727272727%;
    padding-left: 69px;
  }

  .travelers__description {
    margin-right: 194px;
  }

  .travelers__description--bold {
    margin-right: 166px;
    margin-bottom: 83px;
  }

  .travelers__persons {
    width: 47.7272727273%;
    margin-top: 4px;
  }

  .travelers__person--firsova {
    margin-right: 60px;
  }

  .travelers__link {
    position: static;
    transform: none;
    width: 280px;
    padding: 30px 33px 27px;
    margin-left: 2px;

    &::after {
      margin-left: 23%;
    }
  }
}
